{% extends 'base.html' %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static "css/sns.css" %}">
<!-- 페이지 meta태그 -->
<meta name=”description” content=”페이지 설명”>
<meta name=”keywords” content=”페이지에,들어간,키워드,단어로,입력,구분은,쉼표로”>
<meta property="og:site_name" content="The Rock" />
<meta property="og:title" content="The Rock Content" />
<meta property="og:description" content="Sean Connery found fame and fortune as the suave, sophisticated British agent, James Bond." />	
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.imdb.com/title/tt0117500/" />
<meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{% endblock %}

{% block content %}
    <section class="{% if diary.image %}section_feed_detail{% else %}section_feed_detail feed_card_text {% endif%}">
        <div class="container">
            <div class="feed_card_detail feed_card flex " id="feed_{{ diary.id }}">
                <div class="feed_card_left">
                    <div class="feed-images">
                        <img src="{% if diary.image %} {{ diary.image.url }} {% else %}#{% endif%}">
                    </div>
                </div>
                <div class="feed_card_right">
                    <div class="card_header list_profile">
                        <div class="profile_image">
                            <img src="https://intermusicakorea.com/common/img/default_profile.png">
                        </div>
                        <div class="profile_meta">
                            <div class="feed_author profile_username">
                                <span>{{ diary.user }}</span>
                            </div>
                        </div>
                        <div class="card_btn">
                            <button type="button" class="btn btn_card_more" data-notifyid="{{ diary.id }}" data-bs-toggle="modal" {% if user.username == diary.user %}data-auth="true"{% else %}data-auth="false"{% endif %} data-bs-target="#feedMoreModel">
                                <svg aria-label="More options" class="_ab6-" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24"><circle cx="12" cy="12" r="1.5"></circle><circle cx="6" cy="12" r="1.5"></circle><circle cx="18" cy="12" r="1.5"></circle></svg>
                            </button>
                        </div>
                    </div>
                    <div class="card_body">
                        <div class="feed_line flex">
                            <div class="profile_image">
                                <img src="https://intermusicakorea.com/common/img/default_profile.png">
                            </div>
                            <div class="card_content">
                                <p> {% comment %} navbar 작성버튼 {% endcomment %}
                                    <span class="feed_author profile_username"><a href="#">{{diary.user}}</a></span>
                                    <p class="feed_content">{{ diary.content }}</p>
                                </p>
                                <p><time class="feed_time sm_time" datetime="{{ diary.created_at }}" title="{{ diary.created_at }}">
                                    {{ diary.created_at|timesince }}
                                </time></p>
                            </div>
                        </div>
                    </div>
                    {% if diary.image %}
                        <div class="card_footer">
                            <div class="diary_emotion feed_line flex flex-align-items-center">
                                <div class="profile_image">
                                    <img src="/static/images/emoji_{{diary.emotion_label}}.png">
                                </div>
                                <div class="diary_emotion_content card_content">
                                    <p> {{diary.emotion_label}} <span class="font-sm color-gray">( {{diary.emotion_percent}}% )</span></p>
                                </div>
                            </div>
                        </div>
                    {% endif%}
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade moreModel" id="feedMoreModel" tabindex="-1" aria-labelledby="feedMoreModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-footer flex flex_column p-0">
                    <button type="button" class="btn btn_modal_feedmore btn_edit red" data-bs-toggle="modal" data-bs-target="#staticBackdrop" aria-label="Edit">Edit</button>
                    <button type="button" class="btn btn_modal_feedmore btn_deletemodel red" data-bs-toggle="modal" data-bs-target="#deleteModal" aria-label="Edit">Delete</button>                    
                    <button type="button" class="btn btn_modal_feedmore btn_unfollow red" data-bs-dismiss="modal" aria-label="Unfollow">Unfollow</button>
                    <button type="button" class="btn btn_modal_feedmore btn_like" data-bs-dismiss="modal" aria-label="Add to favorites">Add to favorites</button>
                    <button type="button" class="btn btn_modal_feedmore btn_goFeed" data-bs-dismiss="modal" aria-label="Go to post">Go to post</button>
                    <button type="button" class="btn btn_modal_feedmore btn_close" data-bs-dismiss="modal" aria-label="Cancle">Cancle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade moreModel" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body flex flex_column">
                    <h5 class="modal_title">Delete Post?</h5>
                    <p>Are you sure you want to delete this post?</p>
                </div>
                <div class="modal-footer flex flex_column p-0">
                    <button type="button" class="btn btn_modal_feedmore btn_delete red" data-bs-dismiss="modal" aria-label="Delete">Delete</button>
                    <button type="button" class="btn btn_modal_feedmore btn_close" data-bs-dismiss="modal" aria-label="Cancle">Cancle</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% if messages %}
    {% for message in messages %}
        <script>
            alert("{{ message }}");
        </script>
    {% endfor %}
{% endif %}
<script src="{% static 'js/feed.js' %}"></script>
{% endblock %}