{% extends 'base.html' %}
{% load static %}

<!-- head 타이틀부분 -->
{% block title %}페이지제목 | {% endblock %}

<!-- head 하단부분 -->
{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/sns.css" %}">

    <!-- 페이지 meta태그 -->
    <meta name=”description” content=”페이지 설명”>
    <meta name=”keywords” content=”페이지에,들어간,키워드,단어로,입력,구분은,쉼표로”>
    <meta property="og:site_name" content="The Rock" />
    <meta property="og:title" content="The Rock Content" />
    <meta property="og:description" content="Sean Connery found fame and fortune as the suave, sophisticated British agent, James Bond." />	
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.imdb.com/title/tt0117500/" />
    <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
{% endblock %}

<!-- body부분 -->
{% block content %}
<section class="section_diary_detail diary_card_text">
        <div class="container">
            <div class="diary_card diary_card_detail flex">
                <div class="diary_card_left">
                    <div class="diary-images">
                        <img src="">
                    </div>
                </div>
                <div class="diarycard_right">
                    <div class="card_header list_profile">
                        <div class="profile_image">
                            <img src="https://storage.googleapis.com/kaggle-datasets-images/2521291/4279172/aa31bd7b1579b7dc11f806a3dff54d9c/dataset-cover.jpg?t=2022-10-03-18-16-58">
                        </div>
                        <div class="profile_meta">
                            <div class="diary_user profile_username">
                                <span>{{ diary.user }}</span>
                            </div>
                        </div>
                         {% comment %} <div class="card_btn">
                            <button type="button" class="btn btn_card_more" data-notifyid="{{ feed.id }}" data-bs-toggle="modal" {% if user.username == diary.user %}data-auth="true"{% else %}data-auth="false"{% endif %} data-bs-target="#diaryModel">
                                <svg aria-label="More options" class="_ab6-" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24"><circle cx="12" cy="12" r="1.5"></circle><circle cx="6" cy="12" r="1.5"></circle><circle cx="18" cy="12" r="1.5"></circle></svg>
                            </button>
                         </div> {% endcomment %}
                    </div>
                    <div class="card_body">
                        <div class="diary_line flex">
                            <div class="profile_image">
                                <img src="">
                            </div>
                            <div class="diary_content card_content">
                                <p>
                                    <span class="diary_user profile_username"><a href="#">{{ diary.user }}</a></span>
                                    {{ diary.content }}
                                </p>
                                <p><time class="diary_time sm_time" datetime="{{ diary.created_at }}" title="{{ diary.created_at }}">
                                    {{ diary.created_at|timesince }}
                                </time></p>
                            </div>
                        </div>
                        {% comment %} <!-- 피드 댓글 보여지는 공간 -->
                        <div class="diary_comment_list">                            
                            {% for comment in comments %}
                                <div class="feed_comment_line flex">
                                    <div class="profile_image">
                                        <img src="https://intermusicakorea.com/common/img/default_profile.png">
                                    </div>
                                    <div class="feed_comment_content card_content">
                                        <p>
                                            <span class="feed_author profile_username"><a href="#">{{ comment.author }}</a></span>
                                                    {{comment.content}}
                                        </p>
                                        <p>
                                            <time class="feed_comment_time sm_time" datetime="2022-09-23T09:02:09.000Z" title="Sep 23, 2022"> {{comment.created_at|timesince}}</time>
                                            <a href="/sns/comment/delete/{{ comment.id }}">
                                                <button class="btn_deletecomment">  삭제 </button>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %} {% endcomment %}
                    </div>
                    {%comment%}<div class="card_footer">
                        <div class="card_meta">
                            <div class="diary_btn flex">
                                <div class="diary_heart">
                                    <button type="button" class="btn btn_diary_heart">
                                        <svg aria-label="Like" class="_ab6-" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"></path></svg>
                                    </button>
                                </div>
                                <div class="diary_comment">
                                    <a class="btn btn_diary_Comment" href="/diary/{{ diary.id }}">
                                        <svg aria-label="Comment" class="_ab6-" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="diary_like">
                                <span class="like">73</span> likes
                            </div>
                            <div class="card_datetime">
                                <time class="feed_time" datetime="2022-09-23T09:02:09.000Z" title="Sep 23, 2022">
                                    {{ diary.created_at|timesince }} AGO
                                    {{ diary.id }}
                                </time>
                            </div>
                        </div>
                        {% comment %} <div class="comment_form_box">
                            <!-- 피드 댓글 작성 Form -->
                            <form class="form_diary_direct_comment" action="/diary/comment/write/{{ diary.id }}" method = "POST" >
                                {% csrf_token %}
                                <textarea aria-label="Add a comment…" placeholder="Add a comment…" rows="1" name='comment' class="input_direct_comment" autocomplete="off" autocorrect="off"></textarea>
                                <button class="btn_writebutton">작성</button>
                            </form>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Modal -->
    {% comment %} <div class="modal fade moreModel" id="feedMoreModel" tabindex="-1" aria-labelledby="feedMoreModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-footer flex flex_column p-0">
                    <button type="button" class="btn btn_modal_feedmore btn_edit red" data-bs-toggle="modal" data-bs-target="#staticBackdrop" aria-label="Edit">Edit</button>
                    <button type="button" class="btn btn_modal_feedmore btn_deletemodel red" data-bs-toggle="modal" data-bs-target="#deleteModal" aria-label="Edit">Delete</button>                    
                    <button type="button" class="btn btn_modal_feedmore btn_unfollow red" data-bs-dismiss="modal" aria-label="Unfollow">Unfollow</button>
                    <button type="button" class="btn btn_modal_feedmore btn_like" data-bs-dismiss="modal" aria-label="Add to favorites">Add to favorites</button>
                    <button type="button" class="btn btn_modal_feedmore btn_goFeed" data-bs-dismiss="modal" aria-label="Go to post">Go to post</button>
                    <button type="button" class="btn btn_modal_feedmore btn_close" data-bs-dismiss="modal" aria-label="Cancle">Cancle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade moreModel" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body flex flex_column">
                    <h5 class="modal_title">Delete Post?</h5>
                    <p>Are you sure you want to delete this post?</p>
                </div>
                <div class="modal-footer flex flex_column p-0">
                    <button type="button" class="btn btn_modal_feedmore btn_delete red" data-bs-dismiss="modal" aria-label="Delete">Delete</button>
                    <button type="button" class="btn btn_modal_feedmore btn_close" data-bs-dismiss="modal" aria-label="Cancle">Cancle</button>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
{% endblock %}

<!-- body 맨 하단부분 : 보통 js -->
{% block extra_body %}
    <div>
        
    </div>
    <script src="{% static 'js/feed.js' %}"></script>
{% endblock %}
