
/* btn */
.btn.btn_default_style{
    background-color: #AA5FDC;
    border-color: #AA5FDC;
    height: 50px;
}
.font_point{
    color: #AA5FDC !important;
}

body {
    background-color: #FAFAFA;
    height: 100%
}
.wrap{
    height: 100vh;
}
section {
    font-size: 14px;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
}

img {
    object-fit: contain;
    margin: 30px 0;
    width: 90%;
    height: auto;
    padding: 16px;
}

.signup_top {
    background-color: white;
    width: 350px;
    /* height: 480px; */
    border: 1px solid rgba(0, 0, 0, 0.18);
    margin: 20px 0;
}

.signup_img {
    display: flex;
    align-items: center;
    justify-content: center
}

.signup_txt {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: rgba(142, 142, 142, 1);
    margin: 0 40px 20px
}

.floating_form {
    margin: 0 30px;
    background-color: #FAFAFA
}

.floating_label {
    margin-top: -4px;
    font-size: 14px;
}

.floating_input {
    height: 50px !important;
    padding-top: 20px !important;
    font-size: 14px !important;
}

.btn-primary {
    width: 100%
}

.a_signup {
    font-weight: bold;
    color: cornflowerblue;
    text-decoration: none;
    cursor: pointer
}

.signup_bottom {
    background-color: white;
    width: 350px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    display: grid;
    align-items: center;
}

footer {
    color: #333;
    padding: 20px 0 ;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.alert-danger{
    margin: 0 30px;
    word-break: break-all;
}

/*  */
.wrap.bg{
    background-color: #FFE17D;
}
.wrap.bg .signin_top, .wrap.bg .signup_top{
    border:0;
    border-radius: 20px;
    padding: 8px 0 16px;
}
.wrap.bg .signin_bottom, .wrap.bg .signup_bottom{
    border:0;
    border-radius: 20px;
}