{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- CSS -->
    <link href="{% static "css/sign-in.css" %}" rel="stylesheet" type="text/css"/>

    <!-- favicon -->
    <link rel="icon" href="{% static "images/favicon.ico" %}">

    <!-- jquery 사용하기 위해 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

   <!-- head 타이틀부분 -->
<title>{% block title %}로그인 | PEMOTION{% endblock %} </title>
</head>

<body>
<div class="wrap bg">
    <section>
        <div class="signin_top">
            <div class="signin_img">
                <img src="{% static 'images/logo.png' %}">
            </div>
            <form class="form-area" action="/user/sign-in/" method="POST">
                {% csrf_token %}
                <div class="mb-2 form-floating floating_form">
                    <input type="text" class="floating_input form-control" id="username" name="username" placeholder="#">
                    <label for="username" class="floating_label">아이디</label>
                </div>
                <div class="mb-3 form-floating floating_form">
                    <input type="password" class="floating_input form-control" id="password" name="password" placeholder="#">
                    <label for="password" class="floating_label">비밀번호</label>
                </div>

                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                
                <div class="mb-3 mt-3 floating_form">
                    <button id="button_signin" class="btn btn-primary btn_default_style" type="submit"> 로그인</button>
                </div>
            </form>
        </div>

        <div class="signin_bottom">
            <div>
                계정이 없으신가요? <a class="a_2 font_point" href="/user/sign-up/">가입하기</a>
            </div>
        </div>
    </section>
</div>


<footer>
    <p>Meta&nbsp;&nbsp;
        소개&nbsp;&nbsp;
        블로그&nbsp;&nbsp;
        채용 정보&nbsp;&nbsp;
        도움말&nbsp;&nbsp;
        API&nbsp;&nbsp;
        개인정보처리방침&nbsp;&nbsp;
        약관&nbsp;&nbsp;
        인기 계정&nbsp;&nbsp;
        해시태그&nbsp;&nbsp;
        위치&nbsp;&nbsp;
        PEMOTION Lite&nbsp;&nbsp;
        연락처 업로드 & 비사용자
    </p>
    <p>한국어 ᐯ &nbsp;&nbsp; © 2022 PEMOTION from B5_OB</p>
</footer>

</body>
</html>